<header id="header" class="container">
  <div id="header_image" class="">
    <img
      src="images/header_image.webp"
      alt="A example of my website development job"
      width="100%"
      height="100%"
    />
  </div>
  <div id="header_text">
    <h1><span class="title_highlight">{{content.highlight1}}</span>
      {{content.title}}
      <span class="title_highlight">{{content.highlight2}}</span></h1>
    <p> {{content.paragraph}} </p>
    <button class="btn call_to_action" onclick="openContactModal()">{{content.callToAction}}</button>
  </div>

</header>