<section id="about" class="container">
  <div class="about_grid">

    <div class="about">
      <div class="about_me">
        <h4>{{content.me.title}}</h4>
        <div class="profile_pic"></div>
        <div>
          <ul>
            {{#each content.me.characteristics}}
              <li><strong>{{this.title}}</strong> {{this.value}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="about_description">
        <p>{{content.me.content}}</p>
      </div>
    </div>

    <div class="basic about_card">
      <h4>{{content.skills.0.title}}</h4>
      <p>{{content.skills.0.content}}</p>
      <ul>
        {{#each content.skills.0.list}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="frameworks about_card">
      <h4>{{content.skills.1.title}}</h4>
      <p>{{content.skills.1.content}}</p>
      <ul>
        {{#each content.skills.1.list}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="backend about_card"> 
      <h4>{{content.skills.2.title}}</h4>
      <p>{{content.skills.2.content}}</p>
      <ul>
        {{#each content.skills.2.list}}
          <li>{{this}}</li>
        {{/each}}
      </ul>

    </div>
    <div class="hobbies about_card">
      <h4>{{content.skills.3.title}}</h4>
      <p>{{content.skills.3.content}}</p>
      <ul>
        {{#each content.skills.3.list}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>